@font-face {
    font-family: "TAYKula";
    src: url("fonts/TAYKula.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "TAYKula", sans-serif;
}

button,
input,
textarea,
select {
    font-family: inherit;
}
