@media screen and (max-width: 394px) {

body {
    background-color: #f2d0bf;
}
.head {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Patrick Hand", cursive;
    position: relative;
    width: 72px;
    height: 32px;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    padding-top: 2px;
    color: black;
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
}

textarea {
    font-family: "Patrick Hand", cursive;
    font-size: 40px;
    color: black;
    height: 56px;
    text-align: center;
    background-color: #f2d0bf;
    border: 5px solid black;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    
    
    
}

textarea[name="description"] {
    height: 112px; 
}

textarea[name="age"] {
    width: 170px;
}

textarea[name="height"] {
    width: 170px;
    top: -74px;
    left: 192px;
}

textarea[name="hobbies"] {
    height: 168px;
}

textarea[name="goals"] {
    height: 168px;
}

textarea[name="fears"] {
    height: 168px;
}

textarea[name="notes"] {
    height: 224px;
}

.chara {
      font-family: "Patrick Hand", cursive;
    font-size: 40px;
    color: gray;
    text-align: center;
    background-color: #f2d0bf;
    border: 5px solid black;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    height: 383px;
    align-content: center;
}

.details {
    position: relative;
    padding-top: 24px;
}

.age {
    position: relative;
    top: 4px;
}

.height {
    position: relative;
    top: 4px;
}

.up {
    position: relative;
    bottom: 70px;
}

}